@import "./variables.scss";

html, body, #app {
    margin: auto;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
    background: #e0e1ea;
    font-family: Arial, Helvetica, sans-serif;
}

.poll-view {
    width: 100%;
    min-height: 100%;
    background-color: $white-primary;
    position: relative;
    transition: all 0.2s ease-in-out;
    .poll-input {
        color: #8e96ad;
        width: 100%;
        border: none;
        border-radius: 2rem;
        background-color: #eff3ff;
    }
    &__title {
        color: #eff3ff;
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        padding: 1rem 0;
        margin-bottom: 2rem;
        background-color: rgba($poll-primary, .9);
    }
    &__inner {
        padding: 16px;
    }
    &__question {
        padding-bottom: 3rem;
        input {
            padding: .5rem 1.5rem;
            font-size: 2rem;
            box-sizing: border-box;
            transition: border 0.2s ease-in-out;
            &:focus {
                outline: none;
                color: #4b7ce9;
                box-shadow: 1px 2px 2px 0;
            }
        }
    }
    &__votes {
        .answer {
            padding-bottom: 5px;
            display: block;
            position: relative;
            background-color: $white-primary;
        }
    }
    &__answers, &__inner, &__help {
        .answer, .poll-view__code, .poll-view__votes {
            animation-name: popup;
            animation-duration: 1s;
            margin-bottom: 1rem;
            display: block;
            position: relative;
            background-color: $white-primary;
            .delete {
                top: 14%;
                right: 1%;
                color: #8e96ad;
                position: absolute;
                font-family: cursive;
                border-radius: 50%;
                padding: .15rem .45rem;
                &:hover {
                    @extend .cursor-pointer;
                    color: #ff6f61;
                }
            }
            input {
                padding: .35rem 2rem .35rem .75rem;
                font-size: 1.5rem;
                box-sizing: border-box;
                transition: border 0.2s ease-in-out;
                &:focus {
                    outline: none;
                    color: #4b7ce9;
                    box-shadow: 1px 2px 2px 0;
                }
            }
        }
    }
    &__options {
        padding: 16px 0;
        position: relative;
    }
    &__results {
        padding: 16px;
        .title {
            font-size: 24px;
            .percent {
                font-size: 16px;
            }
            .votes {
                font-size: 16px;
            }
        }
        .bar {
            width: 100%;
            height: 20px;
            background-color: #eee;
            position: relative;
            div {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 99;
                background-color: $poll-primary;
                bottom: 0;
            }
        }
    }
    &__submit {
        text-align: center;
        padding: 1rem 0;
    }
    &__info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        animation-name: shownhide;
        animation-duration: 3s;
        font-family: cursive;
        &.success {
            background-color: lighten($poll-primary, 20%);
            div {
                color: darken($poll-primary, 30%);
            }
        }
        &.error {
            background-color: lighten($poll-secondary, 20%);
            div {
                color: darken($poll-secondary, 30%);
            }
        }
        div {
            position: absolute;
            left: 50%;
            top: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(-50%, -50%);
            text-align: center;
            background-color: $white-primary;
            border-radius: 50%;
            width: 140px;
            height: 140px;
            font-size: 1.5rem;
        }
    }
    &__footer {
        text-align: center;
        color: #333;
        padding-bottom: 5px;
        font-size: 14px;
        opacity: 0.6;
        a {
            color: #1d4dca;
            text-decoration: none;
        }
    }
    .label-cbx {
        user-select: none;
        @extend .cursor-pointer;
        display: flex;
        input {
            &:checked + .checkbox {
                border-color: $poll-primary;
            }
            &:checked + .checkbox svg circle {
                fill: $poll-primary;
            }
            &:checked + .checkbox svg polyline {
                stroke-dashoffset: 0;
            }
        }
        .checkbox {
            svg {
                circle {
                    stroke: $poll-primary;
                    stroke-width: 2;
                    fill: none;
                    stroke-dasharray: 1000;
                    stroke-dashoffset: 1000;
                    transition: all 1s ease-in-out;
                }
            }
        }
        &:hover {
            .checkbox {
                circle {
                    stroke-dashoffset: 0;
                }
            }
            &:checked + .checkbox svg polyline {
                stroke-dashoffset: 0;
            }
        }
        &:hover .checkbox svg circle {
            stroke-dashoffset: 0;
        }
        .checkbox {
            position: relative;
            top: 2px;
            float: left;
            margin-right: 8px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 2px solid $gray-primary;
            box-sizing: border-box;
            svg {
                position: absolute;
                top: -14px;
                left: -14px;
                polyline {
                    fill: none;
                    stroke: #FFF;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 18px;
                    stroke-dashoffset: 18px;
                    transition: all 0.3s ease;
                }
            }
        }
        span {
            margin-top: .3rem;
            color: #8e96ad;
        }
    }

    .custom-checkbox {
        width: 100%;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .invisible {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }
}

.question-title {
    position: relative;
    display: flex;
    align-items: center;
    .question-index {
        padding: .5rem .75rem;
        background-color: rgba($poll-primary, .9);
        border-radius: 50%;
        color: $white-primary;
    }
    .question-text {
        display: inline-block;
        text-transform: capitalize;
        font-weight: 600;
        color: $poll-primary;
    }
    .icon-voting, .icon-edit {
        width: 25px;
        @extend .cursor-pointer;
    }
}

.btn {
    padding: .75rem 4rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    @extend .cursor-pointer;
    color: rgba(#eff3ff, .5);
    &:hover {
        color: #eff3ff;
    }
}

.btn-save {
    color: #eff3ff;
    transition: 0.5s;
    background-color: $poll-primary;

    &:hover {
        color: #FFC107;
    }
}

.px-20-pc {
    padding-left: 20%;
    padding-right: 20%;
}

.position-relative {
    position: relative;
}

.text-back {
    position: absolute;
    top: 23%;
    left: 29%;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    color: $gray-primary;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.input-has-copy {
    position: relative;
    .icon-copy {
        position: absolute;
        width: 25px;
        top: 13%;
        right: 2%;
        @extend .cursor-pointer;
    }
}

.cursor-pointer {
    cursor: pointer;
}
.thank-voting {
    text-align: center;
    font-size: 2rem;
    padding: 6rem;
    font-family: cursive;
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-inline {
    display: inline-block;
}
.sign-in-with-google {
    background-color: #4285f4;
    border: none;
    color: $white-primary;
    margin: 6rem 0;
    .google-logo {
        background-color: $white-primary;
        border: 1px solid #4285f4;
        padding: 1rem;
    }
    .google-brand-name {
        font-family: Arial, sans-serif;
        font-weight: 600;
    }
}
.g-signin-button {
    @extend .text-center;
}
.download-extension {
    a {
        color: $black-primary;
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        &:hover {
            color: $poll-primary;
        }
    }
}
.ended-question {
    .index {
        color: $white-primary;
        font-weight: 600;
        padding: 1rem;
        border: 1px solid rgba($poll-primary, .8);
        background: rgba($poll-primary, .8);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .answer {
        padding: 1rem;
        flex-grow: 1;
        color: $black-primary;
        background: $white-primary;
        border-top: 1px solid rgba($poll-primary, .8);
        border-right: 1px solid rgba($poll-primary, .8);
        border-bottom: 1px solid rgba($poll-primary, .8);
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}


$class-margin-bottom: mb !default;
$class-margin-left-right: mx !default;
$class-margin-top-bottom: my !default;
$class-padding-left-right: px !default;
$class-padding-top-bottom: py !default;
$class-padding-bottom: pb !default;

@for $i from 1 through 8 {
    .#{$class-margin-bottom}-#{$i} {
        margin-bottom: $i * .25rem !important;
    }
    .#{$class-margin-left-right}-#{$i} {
        margin-left: $i * .25rem !important;
        margin-right: $i * .25rem !important;
    }
    .#{$class-padding-top-bottom}-#{$i} {
        padding-top: $i * .25rem !important;
        padding-bottom: $i * .25rem !important;
    }
    .#{$class-padding-bottom}-#{$i} {
        padding-bottom: $i * .25rem !important;
    }
    .#{$class-margin-top-bottom}-#{$i} {
        margin-top: $i * .25rem !important;
        margin-bottom: $i * .25rem !important;
    }
}

@keyframes arrow {
    0% {left: 14%}
    50% {left: 11%}
    100% {left: 14%}
}

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shownhide {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
